@font-face {
    font-family: FuturaLightC;
    src: url(./../fonts/futuralightc.ttf);
}
@font-face {
    font-family: FuturaDemiC;
    src: url(./../fonts/futurademic.ttf);
}
@font-face {
    font-family: GothamPro;
    src: url(./../fonts/gothampro.ttf);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.none {
    display: none !important;
    opacity: 0;
}

a {
    text-decoration: none;
}
div {
    cursor: default;
}

/* Header */

.header {
    max-width: 1440px;
    width: 100%;
    /* height: 748px; */
    background-image: url('./../img/header.jpg');
    /* background-position: left; */
    background-size: cover;
}

.header-top {
    display: flex;
    /* justify-content: space-between; */
    padding: 40px 0 0 150px;
}

.header-logo {
    display: inline-block;
    margin-right: 54px;
    width: 100px;
    font-family: "FuturaLightC", sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 40px;
}

.header-navbar {
    /* max-width: 768px;
    min-width: 700px; */
    padding-top: 8px;
    padding-left: 9px;
}

.header-navbar-items {
    /* width: 768px; */
    /* max-width: 768px; */
    width: 57vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 18px;
    padding: 0;
    
    justify-content: space-between;
    align-items: flex-end;
}

.header-navbar-item {
    /* margin-right: 40px; */
    /* margin-bottom: 20px; */
    font-family: "Gotham Pro", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    list-style: none;
}

.header-navbar-item a{ 
    display: block;
    height: 100%;
    color: #000;   
    transition:  0.3s ease-in;
}

.header-navbar-item a:hover {
    font-weight: 500;
    font-size: 20px;
    /* color: gold; */
}

.header-navbar-social {
    max-height: 24px;
}


.navbar-facebook {
    display: inline-block;
    margin-right: 20px;
    background-image: url('./../img/icons/facebook.svg');
    width: 24px;
    height: 24px;
    transition: 0.3s ease-in;
}

.navbar-facebook:hover,
.navbar-insta:hover {
    transform: translateY(6px);
}

.navbar-insta {
    display: inline-block;
    background-image: url('./../img/icons/instagram.svg');
    width: 24px;
    height: 24px;
    transition: 0.3s ease-in;
}

.header-main {
    max-width: 948px;
    margin-left: 150px;
    padding-top: 197px;
    padding-bottom: 180px;
}

.header-title {
    margin: 0;
    padding-left: 93px;
    color: #fff;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 96px;
    line-height: 112px;
}

.header-title span {
    color: #FFA800;
}

.header-subtitle {
    margin-top: 29px;
    padding-left: 96px;
    font-family: "FuturaDemiC";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-button {
    display: block;
    margin-left: 96px;
    max-width: 291px;
    margin-top: 26px;
    padding:  20px 86px;
    border: 3px solid #FFA800;
    background-color: #FFA800;
    color: #fff;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    transition: all 0.5s ease-in;
    /* text-transform: uppercase; */
}

.header-button:hover  {
    /* color: #FFA800;
    background-color: #fff;
    border-color: #fff; */
    transform: translateY(12px);
    background-color: #ffffff13;
}


/* Main */

main {
    background-color: #181818;
    width: 100%;
}

.prices-background {
    background-image: url('./../img/main/micro.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    max-width: 1185px;
    /* height: 100%; */
    margin: 0 auto;
    
}

/* Prices */

.prices {
    /* height: 776px; */
    width: 100%;
    background-color: #181818;   
}

.prices-title {
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.prices-container {
    padding-top: 96px;
    max-width: 843px;
}
.prices-cards {
    margin-top: 90px;
    padding-bottom: 158px;
    display: flex;
    justify-content: space-between;
}
.prices-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    height: 396px;
    background-color: #fff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.prices-card:hover {
    transform: translateY(-20px);
}

.prices-card-title {
    font-family: "FuturaDemiC";
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
}

.prices-card p {
    font-family: "FuturaDemiC";
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.prices-card-price {
    font-family: "FuturaDemiC";
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}

.prices-card-button {
    display: block;
    width: 100%;
    padding: 17px 0 17px;
    text-align: center;
    font-family: "GothamPro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    background-color:  #FFA800;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.prices-card-button:hover {
    color:  #FFA800;
    background-color: #000000;
}

.prices-card:last-child {
    background-color: #FFA800;  
}

.prices-card:last-child a{
    background-color:  #FFF;
}

/* Instruments */

.instruments {
    padding-top: 135px;
    padding-bottom: 280px;
    height: 652px;
    background-color: #353232;
    background-image: url('./../img/main/vinyl.png');
    background-position: center;
    background-repeat: no-repeat;
}

.instruments-title {
    text-align: center;
    color: #FFF;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.instruments-items {
    margin-top: 132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.instruments-item {
    position: relative;
    display: flex;
    padding-left: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFF;
    height: 69px;
    width: 160px;
    text-transform: uppercase;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    line-height: 23px;
    color: #000000;
    list-style-type: none;
    cursor: pointer;
}

.instruments-item::after {
        content: "▼";
        margin-left: 5px;
      }

.instruments-item:nth-child(4)::after {
    content: '';
}      

.instruments-item a {
    color: #000000;
}

.dropdown {
    /* visibility: hidden; */
    opacity: 0;
    margin-top: 0;
    padding: 0;
    min-width: 165px;
    background-color: #FFA800;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
    list-style-type: none;
    z-index: 100;
  /* left: 0; */
  /* display: none; */
}

.dropdown li {
    padding: 10px;
    color: #FFF;
}

.dropdown li:hover {
    background-color: #FFF;
    color: #FFA800;
}

.dropdown:hover {
        /* visibility: visible; */
        opacity: 1;
        display: block;
        color: orange;
}

.dropdown:hover {
    /* visibility: visible; */
    /* color: orange; */
} 

/* Teachers */

.teachers {
    position: relative;
}

.teachers-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    justify-content:space-evenly;
    align-items: center;
}

.slider-left {
    position: absolute;
    left: 20px;
    top: 414px;
    width: 72px;
    height: 101px;
}

.slider-right {
    position: absolute;
    right: 20px;
    top: 414px;
    width: 72px;
    height: 101px;
}    

.teachers-item {
    max-width: 450px;
}

.teachers-title {
    padding-top: 106px;
    padding-bottom: 77px;
    text-align: center;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #C4C4C4;
    text-transform: uppercase;
}

.teachers-name {
    /* font-family: Actor; */
    font-family: "FuturaDemiC", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFA800;
    text-align: center;
}

.teachers-description {
    margin: 0 auto;
    padding-top: 40px;
    width: 300px;
    height: 275px;
    font-family: "GothamPro";
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Galery */

.galery {
    padding-top: 60px;
    padding-bottom: 128px;
    background-color: #241D1D;
}

.galery-title {   
    padding-bottom: 90px;
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    text-transform: uppercase;
}

.galery-container {
    display: flex;
}

.galery-left img:nth-child(1),
.galery-left img:nth-child(3) {
    margin-right: 50px;
}

.galery-left img:nth-child(1),
.galery-left img:nth-child(2) {
    margin-bottom: 50px;
}

.galery-right {
    position: relative;
}

.galery-right img:last-child {
    position: absolute;
    bottom: -10%;
    right: 50%;
}

.galery img {
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

/* .galery img:hover {
    border: 2px solid #FFA800;
} */
 
/* Contacts */

.contacts {
    display: block;
    position: relative;
    padding-top: 67px;
    height: 382px;
    /* padding-top: 67px; */
    /* padding-bottom: 150px;  */
    background-image: url('./../img/header.jpg');
    /* background-size: cover; */
    background-position: -10px -50px;
}

.contacts-container {
    padding-top: 67px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 150px;
    max-width: 950px;  
}

.footer-logo {
    color: #FFF;
    margin-bottom: 32px;
}

.footer-navbar-social {
    width: 24px;
}

.footer-facebook:hover {
    transform: translateY(-6px);
}

.footer-contacts {
    position: absolute;
    top: 32px;
    right: 10px;
    float: right;
    /* width: 50%; */
}

.footer-contacts-title {
    font-family: "FuturaDemiC", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-transform: uppercase;
}

.footer-contacts p {
    font-family: "FuturaDemiC", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}

.footer-navbar {
    display: block;
    margin-top: 85px;
    padding-left: 0;
    width: 100%;
}

.footer-navbar-items {
    width: 100%;
}

.footer-navbar-items li {
    margin-right: 30px;
}

.footer-navbar-items a {
    color: #FFF;
}

.footer-navbar-item a:hover {
    font-weight: 300;
    font-size: 16px;
    color: #FFA800;
}

.map-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/* Modal window */

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.432);
}

.modal-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFA800;
    width: 1005px;
    height: 498px;
    background-image: url('./../img/modal/modal-background.jpg');
}

.modal-title {
    font-family: "GothamPro", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #FFA800;
}

.modal-form p {
    margin: 0;
    font-family: "GothamPro", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFA800;
} 

.form-item {
    margin-bottom: 20px;
}

.form-item input,
.form-item select {
    padding: 10px;
    width: 558px;
    height: 47px;
    background: rgba(196, 196, 196, 0.8);
    border: none;
    outline: none;
}

.form-button button {
    margin: 0 auto;
    margin-left: 20%;
    text-align: center;
    vertical-align: middle;
    width: 364px;
    height: 35px;
    background-color: #FFA800;
    border: none;
}

.form-button button a {
    color: black;
}

.modal-close {
    position: absolute;
    right: 5px; 
    top: 5px;
    background-image: url('./../img/modal/close.png');
    
    width: 48px;
    height: 48px;
    cursor: pointer;
}

